<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TikiTestSuite" verbose="1" parallel="tests" thread-count="4">
    <test name="TikiSearchTest">
        <classes>
            <class name="com.example.tests.TikiSearchTest"/>
        </classes>
    </test>
    <test name="TikiScrollTest">
        <classes>
            <class name="com.example.tests.TikiScrollTest"/>
        </classes>
    </test>
    <test name="TikiAdTest">
        <classes>
            <class name="com.example.tests.TikiAdTest"/>
        </classes>
    </test>
    <test name="TikiAdRedirectTest">
        <classes>
            <class name="com.example.tests.TikiAdRedirectTest"/>
        </classes>
    </test>
</suite>
